body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5%;
  background-color: #ffffff;
}
header {
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  margin: 50px;
  padding: 5px;
  padding: 20px;
  text-align: center;
}
section {
  background-color: rgba(0, 0, 0, 0.10); /* Color blanco semi-transparente */
  margin: 5px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  width: calc(100% - 40px); /* Ajustar el ancho */
  max-width: 400px; /* Ancho máximo */
  cursor: pointer; /* Cambiar el cursor al pasar sobre las secciones */
  transition: transform 0.5s; /* Agregar transición al hacer clic */
}
section:hover {
  background-color: rgba(241, 131, 131, 0.1); /* Color blanco más claro */
  border-color: #000000;
  border-radius: 5px;
  border-style: groove;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}
h1 {
  margin: 0;
  font-size: 32px;
}
p {
  margin: 5px 0;
  font-size: 18px;
}
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 10px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.interests li,
.hobbies li {
  list-style: none; /* Eliminar viñetas */
  margin-bottom: 20px;
  display: flex; /* Alineación de los elementos en línea */
  align-items: center; /* Alineación vertical */
}
.interests img,
.hobbies img {
  width: 30px; /* Tamaño de las imágenes */
  height: 30px;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  border-radius: 50%; /* Borde redondeado */
}

/* Clase para la sección expandida */
.expanded-section {
    background-color:#ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 100%; /* Ancho de la sección expandida */
    max-height: 80%; /* Altura máxima de la sección expandida */
    overflow-y: auto; /* Habilitar el desplazamiento vertical si el contenido es demasiado largo */
    }

@media only screen and (min-width: 768px) {
  section {
    width: calc(50% - 40px); /* Ajustar el ancho para pantallas medianas */
  }
}

@media only screen and (min-width: 992px) {
  section {
    width: calc(33.33% - 40px); /* Ajustar el ancho para pantallas grandes */
  }
    }
    .section-buttons {
display: flex;
justify-content: center;
margin-bottom: 20px;
}

.section-buttons button {
margin: 0 10px;
padding: 10px 20px;
border:#000000;
border-style: groove;
border-radius: 5px;
border-color: #000000;
background-color: rgba(255, 255, 255, 0.42);
color: #000000;
font-size: 16px;
font-weight: bold; /* Aplicar negrita */
cursor: pointer;
transition: background-color 0.3s;
}


.section-buttons button:hover {
background-color: #555;
font-weight:100;
border-color: #000000;
border-radius: 5px;
border-style: groove;
}
/* Estilos para pantallas pequeñas (modo teléfono) */
@media screen and (max-width: 600px) {
.section-buttons {
flex-direction: column; /* Cambiar la dirección del flexbox a columna */
align-items: center; /* Centrar los elementos horizontalmente */
}

.section-buttons button {
margin: 5px 0; /* Espacio entre los botones */
width: 100%; /* Ancho completo */
}
}



#contact-form {
max-width: 600px;
margin: 0 auto;
}

#contact-form label,
#contact-form input,
#contact-form textarea {
display: block;
width: 100%;
margin-bottom: 10px;
}

#contact-form button {
background-color: #333;
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s;
}

#contact-form button:hover {
background-color: #555;
}
